[Bb]in/
[Oo]bj/

.idea/
.vs/
*.user
*.userosscache
*.sln.docstates

appsettings.Development.json
appsettings.Local.json


*.log
*.tmp

.dockerignore


*.nuget.props
*.nuget.targets
project.assets.json
project.nuget.cache